/* .jumbotron{
   justify-content: center;
    align-items: center;
    margin-left:60%;
    height:100%;
    bottom: 0;
   
} */

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}